.circle {
    position: relative;
    border-radius: 50%;
    color: #000;
    text-align: center;
    border: 10px solid #2e8b57;
}

.circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.value {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 5em;
    width: max-content;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
