.page_header {
    margin-top: 30px;
}

.page_header h1 {
    background: url(/images/icon-circle.svg) no-repeat;
    background-size: 1em;
    color: var(--accent-color);
    padding-left: 1.2em;
    font-weight: 500;
}

.page_header .subtitle {
    font-size: 1em;
}
