.card {
    border-radius: 0.25em;
    border-color: #E2E5ED;
    border-style: solid;
    border-width: 1px;
}

.card-header {
    box-shadow: none;
    border-bottom: 1px solid #E2E5ED;
}

.card-header .card-header-title {
    font-size: 0.875em;
    font-weight: 600;
}

.card-footer {
    height: 2.5em;
    line-height: 2.5em;
}

.is-error {
    color: red;
    text-align: center;
    margin: auto 0;
}
