.card {
    border-radius: 4px;
    border-color: #E2E5ED;
    border-style: solid;
    border-width: 1px;
}

.card-header {
    box-shadow: none;
    border-bottom: 1px solid #E2E5ED;
}

.card-header .card-header-title {
    font-size: 14px;
    font-weight: 600;
}

.card-footer {
    height: 40px;
    line-height: 40px;
}