.page-header h1 {
    background-image: url(/images/icon-circle.svg);
    background-repeat: no-repeat;
    background-size: 1.625em;
    background-position-y: center;
    color: var(--accent-color);
    padding-left: 2.25em;
    line-height: 3.125em;
    font-size: 2em;
    font-weight: 500;
}

.page-header .subtitle {
    font-size: 1em;
}

.page-header {
    padding-bottom: 0.313em;
}