.embed-container {
    padding: 3px;
    overflow: hidden;
}
.embed-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.embed-footer__logo {
    line-height: 1;
}

@media only screen and (max-width: 760px) {
    .embed-footer .caption {
        display: none;
    }

    .embed-footer .developed-by {
        flex-direction: row;
        padding: 0;
    }

    .embed-footer .developed-by .logo-wrapper {
        padding-right: 20px;
    }

    .embed-footer .developed-by > div {
        border: 0;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 400px) {
    .embed-footer {
        padding-top: 10px;
        flex-direction: column;
    }
}
