.footer {
    background-color: white;
    padding: 0;
}

.team {
    padding: 10px 0;
}

.team span {
    line-height: 42px;
    padding-right: 10px;
}

.bottom-navigation {
    background-color: var(--accent-color);
    color: white;
    padding: 60px 0 70px 0;
}

.bottom-navigation a {
    color: white;
}

.bottom-navigation h4 {
    font-weight: 700;
    padding-bottom: 15px;
}

.border-top {
    border-top: 1px solid #5E80FF;
}

.logo-code4-gray {
    height: 40px;
}

.logo-force {
    height: 45px;
}

.copyright {
    text-align: right;
}

.vbottom {
    margin-top: auto;
}