.footer {
    background-color: white;
    padding: 0;
}

.team {
    padding: 10px 0;
}

.team span {
    line-height: 42px;
    padding-right: 10px;
}

@media(max-width: 1023px) {
    .team-placeholder {
        display: flex;
        align-items: center;
        padding-left: .75rem;
        padding-right: .75rem;
    }

    .team .team-placeholder span {
        line-height: 20px;
    }

    .team .logo-force {
        margin-top: 0;
    }
}

.bottom-navigation {
    background-color: var(--accent-color);
    color: white;
    padding: 60px 5px 70px 5px;
}

@media (max-width: 1023px) {
    .bottom-navigation .columns {
        margin-left: 0;
        margin-right: 0;
    }
}

.bottom-navigation a {
    color: white;
}

.bottom-navigation h4 {
    font-weight: 700;
    padding-bottom: 15px;
}

.border-top {
    border-top: 1px solid #5E80FF;
}

.logo-code4-gray {
    height: 40px;
}

.logo-force {
    height: 45px;
    margin: -5px 0 auto;
    vertical-align: middle;
}

@media (min-width: 1024px) {
    .copyright {
        text-align: right;
    }
}

.vbottom {
    margin-top: auto;
}