.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.navbar {
  height: 73px;
}

.navbar-brand a {
  color: var(--accent-color);
  font-weight: bold;
}

.logo-code4 {
  height: 30px;
  margin: -5px 0 auto;
  vertical-align: middle;
}

.logo-gov {
  height: 80px;
  margin: -5px 0 auto;
  vertical-align: middle;
}
.logo-ms {
  height: 50px;
  margin: -5px 0 auto;
  vertical-align: middle;
}

.link-ms {
  margin-right: 30px;
}

.logo-coviz {
  height: 64px;
}

.navigation-container .developer {
  /* padding: 20px 0 0; */
  line-height: 89px;
  text-align: right;
}

.navigation-container .developer span {
  line-height: 89px;
}
