
.border-bottom {
  border-bottom: 1px solid #E5E5E5;
}

.navbar {
  height: 73px;
}

.navbar-item {
  font-size: 14px;
  font-weight: normal;
  padding: auto 12px;
}

.navbar-brand a {
  color: var(--accent-color);
  font-weight: bold;
}

.logo-code4 {
  height: 30px;
}

.logo-gov {
  height: 50px;
}

.logo-coviz {
  height: 64px;
}

.navigation-container .developer {
  height: 89px;
  padding: 20px 0;
}