@media only screen and (max-width: 650px) {
  .table_wrapper {
    overflow-x: auto;
  }
  .table_custom {
    white-space: nowrap;
  }
}

.mr_0 {
  margin-right: 0 !important;
}

.navigation_chevron {
  width: 24px;
  height: 24px;
}

.navigation {
  padding-top: 5px;
  bottom: 0px;
  display: block;
  width: 100%;
  min-width: 100%;
  height: 35px;
}
