.card {
    border: 1px solid #e2e5ed;
    position: relative;
    height: 100%;
}
.card__warning small {
    background: #fff177;
    border-radius: 5px;
    padding: 2px 8px;
    margin-top: 5px;
}
.card__warning_content {
    opacity: 0.6;
}
.card_header {
    border-bottom: 1px solid #e2e5ed;
    flex-direction: column;
}

.card_header_title {
    flex-direction: column;
    align-items: flex-start;
}

.is_error {
    color: red;
    text-align: center;
    margin: auto 0;
}
