.circle {
    position: relative;
    border-radius: 50%;
    color: #000;
    text-align: center;
    border: 10px solid #2e8b57;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.value {
    font-size: 5em;
}
