@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

:root {
  --accent-color: #1C1080;
  --main-color: #000;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
