$card-header-shadow: 0;
$card-shadow: 0;

@import "./_fonts.scss";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/helpers/typography.sass";
@import "~bulma/sass/helpers/visibility.sass";
@import "~bulma/sass/helpers/flexbox.sass";
@import "~bulma/sass/helpers/color.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/tabs.sass";

:root {
  --accent-color: #1c1080;
  --main-color: #000;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.content p {
  margin: 1em 0;
}

.button.hide {
  display: none;
}

.button.right {
  float: right;
}
.button:first-child {
  margin-right: 10px;
}


.embed_container {
  padding: 3px;
  overflow: hidden;
}
.embed_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.embed_footer__logo {
  line-height: 1;
}

@media only screen and (max-width: 760px) {
  .embed_footer .caption {
      display: none;
  }

  .embed_footer .developed-by {
      flex-direction: row;
      padding: 0;
  }

  .embed_footer .developed-by .logo-wrapper {
      padding-right: 20px;
  }

  .embed_footer .developed-by > div {
      border: 0;
      justify-content: space-around;
  }
}

@media only screen and (max-width: 400px) {
  .embed_footer {
      padding-top: 10px;
      flex-direction: column;
  }
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}